@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,italic,500,600,700,800&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat;
  color: #252B42;
  font-weight: 500;
  background: #FAFAFA;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-block {
  text-align: center;
}

.header-block__title {
  font-size: 40px;
  font-weight: bold;
  line-height: 142%;
  letter-spacing: 0.2px;
}

@media (max-width: 992px) {
  .header-block__title {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  .header-block__title {
    font-size: 33px;
  }
}

.header-block__title:not(last-child) {
  margin: 0px 0px 10px 0px;
}

.header-block__sub-title {
  line-height: 143%;
  color: #737373;
  letter-spacing: 0.2px;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}

.header__menu {
  margin: 0px 0px 0px 133px;
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}

@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin: 0 21px 0 0;
}

.menu__link {
  font-weight: 600;
  line-height: 171.42857%;
  color: #737373;
}

@media (max-width: 479px) {
  .menu__link {
    font-size: 16px;
  }
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-block {
  position: relative;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .main-block__image img {
    -o-object-position: right;
       object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__image img {
    opacity: 0.5;
  }
}

.main-block__body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 400px;
}

@media (max-width: 992px) {
  .main-block__body {
    padding: 120px 0px 191px 0px;
  }
}

.main-block__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}

.main-block__title {
  font-size: 58px;
  line-height: 137.93103%;
  font-weight: 800;
  letter-spacing: 0.2px;
}

@media (max-width: 992px) {
  .main-block__title {
    font-size: 42px;
  }
}

.main-block__text {
  color: #737373;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
}

.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px 0px;
}

.main-block__button:not(:last-child) {
  margin-right: 10px;
}

.main-block__button {
  background: #FF7B47;
  border-radius: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2px;
  color: #fff;
  font-weight: 700;
  line-height: 150%;
  padding: 5px 36px;
  margin: 10px 0;
}

@media (max-width: 479px) {
  .main-block__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.main-block__button_border {
  background: none;
  border: 1px solid #0D5C63;
  color: #0D5C63;
}

.page__services {
  margin: -111px 0px 0px 0px;
  position: relative;
  z-index: 2;
}

@media (min-width: 670px) {
  .services__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px -15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: -30px;
  }
}

.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (min-width: 670px) {
  .services__column {
    padding: 0px 15px;
  }
}

@media (max-width: 992px) {
  .services__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.services__item {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  padding: 35px;
  height: 100%;
}

.item-service *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.item-service__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 133.33333%;
  letter-spacing: 0.1px;
}

.item-service__text {
  font-weight: 500;
  line-height: 142.85714%;
  color: #737373;
  letter-spacing: 0.2px;
}

.item-service_green {
  background: #0D5C63;
}

.item-service_green .item-service__title {
  color: white;
}

.item-service_green .item-service__text {
  color: #FFFFFF;
}

.page__advantages {
  padding: 80px 0px;
}

@media (max-width: 1020px) {
  .advantages {
    padding: 50px 0px;
  }
}

@media (max-width: 767px) {
  .advantages {
    padding: 30px 0px;
  }
}

.advantages__header {
  margin: 0px 0px 50px 0px;
}

@media (max-width: 767px) {
  .advantages__header {
    margin: 0px 0px 25px 0px;
  }
}

.advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px -30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0px 0px 30px 0px;
}

@media (max-width: 1020px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 560px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.advantages__item {
  background-color: #fff;
  padding: 30px;
  text-align: center;
}

.advantages__item > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.advantages__icon {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__value {
  font-weight: bold;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}

.advantages__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #737373;
}
