@import"_nullstyle";
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
	display: flex;
	height: 100%;
	flex-direction: column;
}
.content {
	flex-grow: 1;
	
}
.container {
	      max-width: 1286px;
			margin: 0 auto;
}
.hi {
	background-color: #445162;
	

		&__row {
			
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 50px;
			flex-wrap: wrap;
		}

		&__body {
			
		}

		&__title {
			text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
			color: #ffffff;
			font-size: 60px;
			padding-bottom: 40px;
		}

		&__list {
			text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
			color: #ffffff;
			font-size: 20px;
			line-height: 36px;
			padding-left: 5px;
		}
		&__list li::before {
			content: "";
			display: inline-block;
			background: url(../img/free_chek.png) 0 0 no-repeat;
			width: 25px;
			height: 19px;
			margin-right: 10px;
		}

		&__image {

		}
}
.what {

		&__row {
			display: flex;
			padding: 50px;
		}

		&__image {
			width: 430px;
			height: 186px;
			margin-right: 38px;
		}

		&__body {
		}

		&__title {
		}

		&__text {
			color: #333333;
			font-size: 16px;
			line-height: 24px;
			padding-right: 50px;
			
		}
		&__text p {
			margin: 20px 0;
		}
		&__text p:last-child {
			margin: 0;
		}
}

.title {
	color: #445161;
	font-size: 30px;
	line-height: 36px;
}

.column {
	background-color: #f5f5f5;
		&__title {
			padding: 31px 0;
			text-align: center;
		}

		&__row {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
}


.item {

		&__cell {
			display: flex;
			width: 574px;
			margin-bottom: 25px;
			padding: 0 10px;
			

		}

		&__img {
			
		}

		&__body {
			padding-left: 15px;
			
		}

		&__tittle {
			color: #445161;
			font-size: 24px;
			line-height: 30px;
			padding-bottom: 10px;
		}

		&__text {
			color: #333333;
			font-size: 16px;
			line-height: 24px;
		}
}


.vertical {
	background-color: white;
		&__container-limiter {
			max-width: 990px;
			margin: 0 auto;
			padding: 40px 0;
		}

		&__title {
			text-align: center;
			margin-bottom: 25px;
		}

		&__row {
			display: flex;
		}

		&__column {
			border: 1px solid #445162;
			border-radius: 5px;
			background-color: #445162;
			flex: 0 1 33.333%;
			margin: 0 22.5px;
			display: flex;
			flex-direction: column;
		}
}

.column {

		&__title1 {
			color: #ffffff;
			font-size: 24px;
			line-height: 30px;
			text-align: center;
			text-transform: uppercase;
			padding: 10px 0;
		}

		&__title2 {
			background-color: #ffffff;
			color: #445162;
			font-size: 40px;
			line-height: 30px;
			text-align: center;
			padding: 10px 0;
		}

		&__text {
			color: #ffffff;
			line-height: 24px;
			padding: 10px 20px 0px 10px;
			flex: 1 1 auto;
		}
		&__text p {
			margin-bottom: 20px;
		}
		&__text p:last-child {
			margin-bottom: 0px;
		}

		&__btn {
			background-color: #ffffff;
			color: #445161;
			font-size: 18px;
			line-height: 40px;
			font-weight: bold;
			text-align: center;
			display: block;
			border-radius: 5px;
			width: 260px;
			margin: 20px;
			
		}
}


.footer {

	background-color: #f5f5f5;

		&__row {
			max-width: 1286px;
			margin: 0 auto;
		}

		&__text {
			color: #445162;
			font-size: 12px;
			line-height: 24px;
			text-align: center;
			padding: 25px 0;
		}
}
