@import"_nullstyle";
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,italic,500,600,700,800&display=swap);
.wrapper {
	min-height: 100%;
	overflow: hidden; //Контент обрезается, без предоставления прокрутки. Для разных отступов.
	display: flex;
	flex-direction: column;
}
._container {
	max-width: 1046px;
	margin: 0 auto;
	padding: 0px 15px;
	box-sizing: content-box; //padding не учитавается в размере
}
._ibg {
	position: relative;
}
._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
//!________________________________________________________________________________
.header-block {
text-align: center;
		&__title {
			font-size: 40px;
			font-weight: bold;
			line-height: 142%;
			letter-spacing: 0.2px;
			@media (max-width: 992px) {
				font-size: 35px;
			}
			@media (max-width: 767px) {
				font-size: 33px;
			}
			&:not(last-child) {
				margin: 0px 0px 10px 0px;
			}
		}

		&__sub-title {
			line-height: 143%;
			color: #737373;
			letter-spacing: 0.2px;
		}
}
//!_________________________________________________________________________________
//-----------------------------header----------------------------------
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;

		&__container {
			display: flex;
			min-height: 104px;
			align-items: center;
			@media (max-width: 479px) {
				min-height: 70px;
				
			}
		}

		&__logo {
			font-size: 24px;
			font-weight: 700;
			color: inherit;
		}

		&__menu {
			margin: 0px 0px 0px 133px;
			@media (max-width: 992px) {
				margin: 0px 0px 0px 80px;
				
			}
			@media (max-width: 767px) {
				margin: 0px 0px 0px 40px;
				
			}
			@media (max-width: 479px) {
				margin: 0px 0px 0px 40px;
				
			}
		}
}

.menu {

		&_list {
			display: flex;
			flex-wrap: wrap;
		}

		&__item:not(:last-child) {
			margin: 0 21px 0 0;
		}

		&__link {
			font-weight: 600;
			line-height: 24 / 14 * 100%;
			color: #737373;
			@media (max-width: 479px) {
				font-size: 16px;
				
			}
		}
		&__link:hover {
			text-decoration: underline;
		}
}

//---------------------------page------------------------------------------
.page {
	flex: 1 1 auto;
		&__main-block {
		}
}
.main-block {
	position: relative;

		&__image{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		& img {
			@media (max-width: 1300px) {
			object-position: right;
		}
		@media (max-width: 992px) {
			opacity: 0.5;
		}
		}
		}

		&__body {
			padding: 184px 0px 191px 0px;
			position: relative;
			z-index: 2;
			max-width: 400px;
			@media (max-width: 992px) {
			padding: 120px 0px 191px 0px;
		}
		}
		&__body > *:not(:last-child){//ко всем объектам  1 уровня влож внутри body кроме последнего
			margin: 0px 0px 35px 0px;
		}

		&__title {
			font-size: 58px;
			line-height: 80 / 58 *100%;
			font-weight: 800;
			letter-spacing: 0.2px;	
			@media (max-width: 992px) {
			font-size: 42px;
		}
		}

		&__text {
			color: #737373;
			font-size: 20px;
			line-height: 30 / 20 *100%;
			letter-spacing: 0.2px;
		}

		&__buttons {
			display: flex;
			flex-wrap: wrap;
			margin: -10px 0px;
		}

		&__button:not(:last-child) {
			margin-right: 10px;
		}
		&__button {
			background: #FF7B47;
			border-radius: 37px;
			display: flex;
			min-height: 48px;
			justify-content: center;
			align-items: center;
			letter-spacing: 0.2px;
			color: #fff;
			font-weight: 700;
			line-height: 150%;
			padding: 5px 36px;
			margin: 10px 0;
			@media (max-width: 479px) {
			flex: 1 1 auto;
		}
			

			&_border {
				background: none;
				border: 1px solid #0D5C63;
				color: #0D5C63;
			}
		}
		&__button:first-child:hover {
			background-color: #773b23;
			color: white;
		}
		&__button:last-child:hover {
			background-color: rgb(148, 148, 148);
		}
}

//--------------------------services----------------------------------------
.page {

		&__services {
			margin: -111px 0px 0px 0px;
			position: relative;
			z-index: 2;
		}
}
.services {

		&__body {
			
			@media (min-width: 670px) {
			display: flex;
			margin: 0px -15px;
			flex-wrap: wrap;
			margin-bottom: -30px; //самоуничтожающийся отступ
			}
		}

		&__column {
			
			flex: 0 1 33.333%;
			margin-bottom: 30px; //самоуничтожающийся отступ
			@media (max-width: 992px) {
			flex: 0 1 50%;
			
		}
		@media (min-width: 670px) {
			padding: 0px 15px;
		}
		
			
		}
		&__column:last-child {
			@media (max-width: 992px){
			flex: 1 1 100%;}
		}

		&__item {
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			background-color: #fff;
			padding: 35px;
			height: 100%;
		}

}

.item-service {
	*:not(:last-child) {
		margin: 0px 0px 10px 0px;
	}
		&__icon {
		}

		&__title {
			font-size: 24px;
			font-weight: bold;
			line-height: 32 / 24 *100%;
			letter-spacing: 0.1px;
			
		}

		&__text {
			font-weight: 500;
			line-height: 20 /14 * 100%;
			color: #737373;
			letter-spacing: 0.2px;
		}
		&_green {
				background: #0D5C63;
				.item-service__title {
					color: white;
				}
				.item-service__text {
					color: #FFFFFF;
				}
		}
}
@keyframes green-box{
	0%{
		top:0;
	}

	50%{
		border-radius: 50%;
		background-color: #fff;
	}
	100%{
		top: -100px;
	}
}
//---------------------------------advantages---------------------------
.page {

		&__advantages {
			padding: 80px 0px;
		}
}
.advantages {
	@media (max-width: 1020px) {
				padding: 50px 0px;
			}
			@media (max-width: 767px) {
				padding: 30px 0px;
			}

		&__container {
		}

		&__header {
			margin: 0px 0px 50px 0px;
			@media (max-width: 767px) {
				margin: 0px 0px 25px 0px;
			}
		}

		&__body {
			display: flex;
			margin: 0px -15px -30px; //-30 для adaptiv
			flex-wrap: wrap;
		}

		&__column {
			padding: 0px 15px;
			flex: 0 1 25%;
			margin: 0px 0px 30px 0px;// для adaptiv
			@media (max-width: 1020px) {
				flex: 0 1 50%;
			}
			@media (max-width: 560px) {
				flex: 0 1 100%;
			}
		}

		&__item {
			background-color: #fff;
			padding: 30px;
			text-align: center;
			&> *:not(:last-child) {
				margin: 0px 0px 10px 0px;
			}
		}

		&__icon {
			height: 48px; //fix разных высот png
			display: flex; //fix разных высот png
			align-items: flex-end; //fix разных высот png
			justify-content: center; //fix разных высот png
		}

		&__value {
			font-weight: bold;
			font-size: 40px;
			line-height: 142%;
			letter-spacing: 0.2px;
		}

		&__text {
			font-weight: bold;
			font-size: 16px;
			line-height: 150%;
			color: #737373;
		}
}

//-------------------------practice----------------------------------------
.page {

		&__practice {
		}
}
.practice {
	padding: 125px 0px 80px 0px;
	@media (max-width: 993px) {
				padding:40px 0px 80px 0px;
			}
	@media (max-width: 767px) {
				padding:0px 0px 80px 0px;
			}

		&__header {
			margin: 0px 0px 45px 0px;
			
		}

		&__body {
			margin: 0px -20px -30px;
			display: flex;
			flex-wrap: wrap;
			
		}

		&__column {
			padding: 0px 20px;
			flex: 0 1 25%;
			margin: 0px 0px 30px 0px;
			@media (max-width: 1040px) {
				flex: 0 1 50%;
			}
			@media (max-width: 630px) {
				flex: 0 1 100%;
			}

		}

		&__item {
			
			
		}
}

.item-practice {
	background-color: #fff;
	display: flex;
	height: 100%;
	flex-direction: column;
		&__content {
			padding: 30px;
			flex: 1 1 auto;
		}

		&__link {
			display: inline-block;
			margin: 0px 0px 15px 0px;
		}
		&__link:hover {
			text-decoration: underline;
			color: inherit;
		}

		&__title {
			font-weight: bold;
			font-size: 16px;
			line-height: 150%;
			color: #252B42;
			letter-spacing: 0.1px;
		}

		&__text {
			line-height: 143%;
			color: #737373;
		}

		&__img {
			display: block;
			padding: 0px 0px 60% 0px; //138 / 230 = 0.60
		}
}
//--------------------------whoweare---------------------------------------
.page {

		&__whoweare {
		}
}
.whoweare {
	padding: 80px 0px 130px 0px;
	background-color: #fff;
	@media (max-width: 950px){
		padding: 50px 0px 50px 0px;
	}
		&__container {
		}

		&__header {
			margin: 0px 0px 100px 0px;
			@media (max-width: 950px) {
				
			}
		}


		&__body {
			display: flex;
			align-items: flex-start;//прижалось к верху
			@media (max-width: 950px) {
				flex-direction: column-reverse;
				align-items: stretch;
				margin: 0px 0px 50px 0px;
			}
		}

		&__video {
			flex: 0 0 57%;//600 / 1046
			position: relative;
			padding: 0px 0px 42.26% 0px; //высчит от ширины боди, так как чет хз.
			@media (max-width: 950px) {
				padding: 0px 0px 56.25% 0px;
			}
		}
		&__video iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		} 

		&__content {
			flex: 1 1 auto;
			padding: 20px 0px 0px 121px;
			@media (max-width: 1080px) {
				padding: 0px 0px 0px 50px;
			}
			@media (max-width: 950px) {
				padding: 0px 0px 0px 0px;
				margin: 0px 0px 30px 0px;
			}
		}

		&__title {
			font-weight: 800;
			font-size: 40px;
			line-height: 142%;
			letter-spacing: 0.2;
			@media (max-width: 950px) {
				font-size: 24px;
			}
		}

		&__title:not(:last-child) {
			margin: 0px 0px 10px 0px;
		}

		&__text {
			line-height: 142%;
			color: #737373;
		}


		&__items {
			padding: 50px 0px 0px 0px;
		}

		&__item {
			
		}
		&__item:not(:last-child) {
			margin: 0px 0px 30px 0px;
		}
}

.item-whoweare {
	display: flex;
		&__icon {
			flex: 0 0 32px;
		}

		&__body {
			flex: 1 1 auto;
			padding: 0px 0px 0px 20px;
		}

		&__title {
			font-weight: 700;
			font-size: 16px;
			line-height: 150%;
		}

		&__title:not(:last-child) {
			margin: 0px 0px 5px 0px;
		}

		&__text {
			color: #737373;
			line-height: 171%;
		}
}
//-----------------clients--------------------------------------------------
.page {

		&__clients {
			margin: 0px 0px 10px 0px;
		}
}
.clients {
	padding: 50px 0px;

		&__container {
		}

		&__items {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}

		&__item {
			padding: 8px 13px;
			flex: 0 1 16.6667%;
			text-align: center;
		}
}
//---------------------------subscribe-------------------------------------
.page {

		&__subscribe {
		}
}
.subscribe {
	position: relative;
	padding-bottom: 20px;
	&::before{
		content: "";
		position: absolute;
		bottom: 0%;
		width: 100%;
		height: 77px;
		
		background: #252B42;
	}
		&__body {
			position: relative;
			z-index: 2;
			padding: 30px 50px;
			align-items: center;
			background: #17213C;
			border-radius: 2px;
			@media (min-width: 1070px) {
				margin: 0px 30px;
			}
		@media (min-width: 810px)  {
			display: flex;
			justify-content: space-between;
		}
		@media (max-width: 810px) {
			margin: 0px -15px;
			padding: 20px 15px;
		}


		}

		&__title {
			flex: 0 1 50%;
			color: #FFFFFF;
			max-width: 266px;
			font-weight: bold;
			font-size: 24px;
			line-height: 133%;
			letter-spacing: 0.1px;
			@media (max-width: 810px) {
				margin: 0px 0px 20px 0px;
			}
		}

		&__form {
			flex: 0 1 50%;
			display: flex;
			align-items: center;
		}

		&__input {
			width: 100%;
			flex: 1 1 auto;
			min-height: 58px;
			padding: 0px 20px;
			background: #F9F9F9;
			border: 1px solid #E6E6E6;
			border-radius: 5px 0px 0px 5px;
			border-right: 0px;
		}
		&__input:focus {
			color: #000;
			box-shadow: 1px 1px 3px white;

		}

		&__button {
			background: #FF7B47;
			border: 1px solid #E6E6E6;
			border-radius: 0px 5px 5px 0px;
			display: flex;
			min-height: 58px;
			justify-content: center;
			align-items: center;
			text-align: center;
			color: #FFFFFF;
			padding: 0px 22px;
			transition: all 0.5s ease 0s;
		}
		&__button:hover {
			background: #864226;
		}
}
//---------------------------getintouch--------------------------------------
.getintouch {
	padding: 80px 0px 135px 0px;
	@media (max-width: 767px) {
				padding: 80px 0px 0px 0px;
			}
		&__header {
			margin: 0px 0px 80px 0px;
		}

		&__items {
			margin: 0px -15px;
			@media (min-width: 992px) {
				display: flex;
			align-items: center;
			margin: 0px;
			}
		}

		&__item {
			flex:  0 1 33.333%;
		}
}

.item-getintouch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	padding: 50px 15px;
	& > *:not(:last-child) {
			padding: 0px 0px 15px 0px;
		}
		&__icon {
		}

		&__label {
			font-weight: 700;
			font-size: 16px;
			line-height: 150%;
			color: #252B42;
		}

		&__button {
			border: 1px solid #FF7B47;
			border-radius: 5px;
			min-height: 44px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			color: #FF7B47;
			line-height: 142%;
			padding: 0px 20px;
			font-weight: 600;
			transition: all 0.5s ease 0s;
		}
		&__button:hover {
			background-color: #FF7B47;
			color: white;
		}
		
		&__emails {
			display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
		}

		&__email {
			color: inherit;
			font-weight: 600;
			line-height: 150%;
			font-size: 16px;
		}
		&__email:hover {
			text-decoration: underline;
		}
}
.item-getintouch_active {
	background: #252B42;
	color: white;
	padding: 80px 15px;
	.item-getintouch__button {
		border: 1px solid #FFFFFF;
		color: #FFFFFF;
	}
	.item-getintouch__label {
		color: #FFFFFF;
	}
}
//-------------------------contact-----------------------------------------
.page {

		&__contact {
		}
}
.contact {
	background-color: #fff;
	padding: 42px 0px;
		&__body {
			
			@media (min-width: 767px) {
				display: flex;
			justify-content: space-between;
			align-items: center;
			}
		}

		&__content {
			padding: 0px 20px 0px 0px;
		}

		&__title {
			font-weight: bold;
			font-size: 24px;
			line-height: 133%;
		}
		&__title:not(:last-child) {
			padding: 0px 0px 10px 0px;
		}

		&__text {
			line-height: 143%;
			color: #737373;
			@media (max-width: 767px) {
				padding: 0px 0px 15px 0px;
			}
		}

		&__button {
			
			border-radius: 5px;
			min-height: 58px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			color: #FF7B47;
			line-height: 142%;
			padding: 15px 40px;
			font-weight: 600;
			background: #FF7B47;
			color: white;
			transition: all 0.7s ease 0s;
		}
		&__button:hover {
			background-color: #7a3b21;
			color: white;
		}
}
//-------------------------footer------------------------------------------
.footer {

		&__top {
			background: #17213C;
			color: white;
			padding: 35px 0px;
		}

		&__main {
			
		}

		&__row {
			display: flex;
			flex-wrap: wrap;
			margin: 0px -15px;//отступ безопастности
		}

		&__column {
			padding: 15px 15px; //отступ безопастности
			flex: 0 1 16.667%;
			@media (max-width:992px) {
				flex: 0 1 25%;
			}
			@media (max-width: 700px) {
				flex: 0 1 50%;
			}
		}
		&__column:last-child {
			flex: 0 1 33.334%;
			@media (max-width:992px) {
				flex: 0 1 100%;
			}
		}

		&__label {
			font-weight: bold;
			font-size: 16px;
			line-height: 150%;
			letter-spacing: 0.1px;
			margin: 0px 0px 20px 0px;
		}

		&__menu {
		
		}

		&__contacts {
		}

		&__bottom {
			padding: 25px 0px;
		}

		&__container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media (max-width: 767px) {
				flex-direction: column;
			}
		}

		&__copy {
			color: #737373;
			line-height: 171%;
			@media (max-width: 767px) {
				margin: 0px 0px 15px 0px;
				text-align: center;
			}
		}

		&__social {
			display: flex;
			align-items: center;
		}
		&__social img {
			vertical-align: top;
		}
}

.menu-footer {

		&__list {
		}

		&__item {
			line-height: 171%;
		}
		&__item:not(:last-child) {
			margin: 0px 0px 10px 0px;
		}

		&__link {
			color: inherit;
		}
		&__link:hover {
			text-decoration: underline;
		}
}
.contacts-footer {
	display: flex;
	flex-direction: column;

		&__item {
			padding-left: 34px;
			display: flex;
			align-items: center;
			min-height: 30px;
			&:not(:last-child) {
				margin: 0px 0px 12px 0px;
			}
			&_phone {
				color: inherit;
				background: url(img/footer_1.svg) left no-repeat;
			}

			&_map {
				color: inherit;
				background: url(img/footer_2.svg) left no-repeat;
			}

			&_email {
				background: url(img/footer_3.svg) left no-repeat;
				color: inherit;
			}
		}
		&__item:hover {
				text-decoration: underline;
				color: white;
			}
}
.social {

		&__item {
			
		}
		&__item:not(:last-child) {
			padding: 0px 20px 0px 0px;
		}
}
